/* truScan CSS */
body {
    padding:0 10%;}
header {
    background-color:#0033FF;}
footer {
    background-color:#00CCFF;
    text-align:center;}
article {
    background-color:#0066FF;
    float:left;
    width:80%;
    height:100px;}
nav {
    background-color:#0033FF;
    float:left;
    width:20%;
    height:100px;}